<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User-page</title>
</head>
<body>
<h1>USER-PAGE</h1>

<p>Привет, <span th:text="${user.username}"></span>!</p>

<p>Ваши роли:
    <span th:each="role, iterStat : ${user.roles}" th:text="${role.name}">
        <span th:if="${!iterStat.last}">, </span>
    </span>
</p>

<!-- Кнопка Logout -->
<form th:action="@{/logout}" method="post" style="display: inline;">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">logout</button>
</form>

</body>
</html>